.footer {
  background-color: black;
  color: white;
  padding: 2rem 1rem;
  text-align: center;
  margin-top: 3rem;
}

.copyright {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.date {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  color: white;
}
